@import "~bootstrap/scss/bootstrap.scss";



.nav-text{
    font-size: 18px;
}

.jumbotron{
    height: 100vh;
    width:100vw;
 
  
}
.jumbo-title{
    font-size: 160px;
   position:absolute;
  margin-left:150px;
  margin-top:100px;
    
    
}
.jumbo-text{
    font-size:60px;
    padding-bottom: 30px;
    position:relative;
    margin-left: 365px;
    margin-top:300px;
}


.button-beach  {
    margin-top:50px;
    position:absolute;
    margin-left:560px;
}
.button-boat{
    margin-top:50px;
    position:absolute;
    margin-left:330px;
  
}
.button-sharks{
 margin-top:50px;
    position:absolute;
    margin-left:820px;
    
}
video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
